<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        package="ru.gelin.android.sendtosd"
        android:installLocation="auto"
        android:versionCode="33"
        android:versionName="0.3.7-beta1">
    
    <application android:icon="@drawable/icon" android:label="@string/app_name"
            android:debuggable="true">

        <activity android:name="ru.gelin.android.sendtosd.SendDispatcherActivity"
                android:label="@string/sd_card"
                android:theme="@android:style/Theme.NoDisplay">
            <intent-filter>
                <action android:name="android.intent.action.SEND"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:mimeType="*/*"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND_MULTIPLE"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:mimeType="*/*"/>
            </intent-filter>
        </activity>

        <activity android:name="ru.gelin.android.sendtosd.SendActivity"
                android:label="@string/sd_card">
        </activity>
        
        <activity android:name=".SendDialogActivity"
                android:label="@string/sd_card"
                android:theme="@android:style/Theme.Dialog">
        </activity>
        
        <activity android:name="ru.gelin.android.sendtosd.SendMultipleActivity"
                android:label="@string/sd_card">
        </activity>
        
        <activity android:name=".SendMultipleDialogActivity"
                android:label="@string/sd_card"
                android:theme="@android:style/Theme.Dialog">
        </activity>
        
        <activity android:name="ru.gelin.android.sendtosd.PreferencesActivity"
                  android:label="@string/app_preferences">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <service android:name="ru.gelin.android.sendtosd.donate.BillingService" />

        <receiver android:name="ru.gelin.android.sendtosd.donate.BillingReceiver">
            <intent-filter>
                <action android:name="com.android.vending.billing.IN_APP_NOTIFY" />
                <action android:name="com.android.vending.billing.RESPONSE_CODE" />
                <action android:name="com.android.vending.billing.PURCHASE_STATE_CHANGED" />
            </intent-filter>
        </receiver>

    </application>
    
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="com.android.vending.BILLING"/>
    
    <uses-sdk android:minSdkVersion="4" android:targetSdkVersion="8"/>
    <supports-screens/>

</manifest> 